[Unit]
Description=Monitor directories for changes
After=network.target

[Service]
WorkingDirectory=%h/checksum-download
ExecStart=%h/monitor.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
